<a href="https://colab.research.google.com/github/Manaswini1224/Python-CS-2001-/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Write a program to find the first non-repeating character in a string using a for loop and else.

In [ ]:
 s = "swiss"

for i in range(len(s)):
    if s.count(s[i]) == 1:
        print("First non-repeating character:", s[i])
        break
else:
    print("No non-repeating character found.")

First non-repeating character: w

# Given a number n, write a program to check if it is prime using a for-else loop.

In [ ]:
n = 150
count = 0

for i in range(1, n + 1):  # Check from 1 to n inclusive
    if n % i == 0:
        count += 1

if count == 2:
    print("prime")
else:
    print("not prime")

not prime

#  Implement a program to find the sum of digits of a number using a while loop and continue statement to skip zeros.

In [ ]:
# n=350
# sum=0
# rem=0
# while n>0:
#   rem=n%10
#   n=int(n/10)
#   sum+=rem
# print(sum)

n = int(input("Enter a number: "))
sum_digits = 0
while n > 0:
    digit = n % 10
    n = n // 10

    if digit == 0:
        continue  # Skip zero digits

    sum_digits += digit

print("Sum of non-zero digits:", sum_digits)

#  Write a program to print all numbers from 1 to 100, but skip numbers divisible by 5 using continue.

In [ ]:
for i in range(1,101):
  if(i%5==0):
    continue
  else:
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49
51
52
53
54
56
57
58
59
61
62
63
64
66
67
68
69
71
72
73
74
76
77
78
79
81
82
83
84
86
87
88
89
91
92
93
94
96
97
98
99

 # given an array of integers , write a program to check if array contains any duplicate

In [ ]:
arr=[1, 5, 2, 8, 5, 3, 2, 10]
for i in range(len(arr)):
  if arr.count(arr[i])>1:
    break
  else:
    print(arr[i])

1

# Write a program to find the factorial of a number using for loop and demonstrate break when the number is 0.

In [ ]:
n=5
pro=1
while n>-1:
  pro*=n
  n=n-1
  if n==0:
    break
print(pro)

120

#  Implement a program to search for an element in a list using for-else. If found, print its index; otherwise, print "Not Found".

In [ ]:
arr=[1, 5, 2, 8, 5, 3, 2, 10]
tar=int(input())
for i in range(len(arr)):
  if arr[i]==tar:
    print(i)
    break
else:
  print("not found")

7
not found

# write a program to print first 10 fibonacci numbers using a for loop

In [ ]:
a,b=0,1
n=8
fib=[a,b]
for _ in range(n-1): # need not define ("_")
  a,b=b,a+b
  fib.append(b)

print(fib)

# Write a program that prints only even numbers from 1 to 50 using continue.

In [ ]:
for i in range(1,51):
  if i%2==0:
    print(i)
  else:
    continue

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

#  Implement a program that checks if a string is a palindrome using for-else.

In [ ]:
s = input("Enter a string: ")
length = len(s)

for i in range(length // 2):
    if s[i] != s[length - 1 - i]:
        print("Not a palindrome")
        break
else:
    print("Palindrome")

#   Write a program to count vowels in a string using for loop. Use continue to skip consonants.

In [ ]:
s = input("enter a string: ")
length = len(s)
count = 0
for i in range(length):
  if s[i] in ('a', 'e', 'i', 'o', 'u'):
    count += 1
  else:
    continue
print(count)

enter a string: manaswini
4

# Write a program to print multiplication table of n up to 10 using for loop.

In [ ]:
n=int(input())
for i in range(11):
  print(str(n) + " x " + str(i) + " = " + str(i*n))

99
99 x 0 = 0
99 x 1 = 99
99 x 2 = 198
99 x 3 = 297
99 x 4 = 396
99 x 5 = 495
99 x 6 = 594
99 x 7 = 693
99 x 8 = 792
99 x 9 = 891
99 x 10 = 990

#  Write a program to find the index of the first occurrence of a given number in a list using for with break.

In [ ]:
arr=[1,2,3,5,2,8,5,3]
tar=int(input())
for i in range(len(arr)):
  if arr[i]==tar:
    print(i)
    break

5
3

# printing all prime numbers from 1 to 50

In [ ]:
for num in range(2, 51):  # Outer loop for numbers from 2 to 50
    for i in range(2, num):
        if num % i == 0:
            break  # Not a prime number
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

# reverse a string using for loop

In [ ]:
s=input("give a string you want to reverse: ")
for i in range(len(s)):
  print(s[len(s)-1-i], end=" ")

give a string you want to reverse: manaswini
i n i w s a n a m

#  Write a program to print all numbers from 1 to 20 except multiples of 3 using continue.

In [ ]:
for i in range(1,20):
  if i%3==0:
    continue
  else:
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19

# max element in a list using for loop

In [ ]:
arr=[1,2,5,3,8,3,10,6,7,3]
max=arr[0]
for i in range(len(arr)):
  if arr[i]>max:
    max=arr[i]
print(max)

10

# Write a program to count the number of words in a sentence using for loop.

In [ ]:
sentence = input("Enter a sentence: ")
word_count = 0
in_word = False

for char in sentence:
    if char.isspace():
        in_word = False
    elif not in_word:
        word_count += 1
        in_word = True

print("Number of words:", word_count)

Enter a sentence: hi i am manu
Number of words: 4

# 19. Write a program to print the pattern below using for loop:


# * *
# * * *
# * * * *
# * * * * *

In [ ]:
for i in range(2, 6):
  for j in range(i):
    print("* ", end="")
  print()

* *
* * *
* * * *
* * * * *

# Write a program to check if a number is an Armstrong number using for-else.

In [ ]:
n = int(input("Enter a number: "))
s = str(n)
l = len(s)
total = 0

for d in s:
    total += int(d) ** l
else:
    if total == n:
        print("Armstrong number")
    else:
        print("Not an Armstrong number")
# validate i/p

Enter a number: 153
Armstrong number