<a href="https://colab.research.google.com/github/Manaswini1224/Python-CS-2001-/blob/main/CLASS_PYPY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

swap the strengths of thor n hulk

In [ ]:
thor_s, hulk_s= 100,200
thor_s,hulk_s=hulk_s,thor_s
print(thor_s,hulk_s)

200 100

# ***TYPE CASTING***

hulk strength 1000 in string ...convert into int and then increase by 200

In [ ]:
hulk_s="1000"
hulk_s_n=int(hulk_s)
hulk_s_n=hulk_s_n+200
print(hulk_s_n)

1200

thor's hammer weight 5000 int ...but u need to calculate gravitational force in float

In [ ]:
thor_h = 5000
thor_f = float(thor_h)
grav = 9.80*(thor_h)
print(grav)

49000.0

loki gets input in seconds as a string "3600" convert it into integer and then into hours

In [ ]:
loki_t="3600"
secs=int(loki_t)
hrs=secs/3600
print(hrs)

1.0

IRON man recorder 7 hits outta 10 shots both in int convert them into float and calculate the accuracy percentage

In [ ]:
hits = 7
total = 10
hits_f= float(hits)
total_f=float(total)
accuracy=(hits_f/total_f)*100
print(f"accuracy is {accuracy:.2f}%")

accuracy is 70.00%

# ***OBJECT REFERENCING***

1. python variables hold references to objects not the actual object themselves
example is provided below

In [ ]:
a=[1,2,3]
b=a
print("a:",a)
print("b:",b)
b.append(4)
print("a:",a)
print("b:",b)

a: [1, 2, 3]
b: [1, 2, 3]
a: [1, 2, 3, 4]
b: [1, 2, 3, 4]

reassigning a variable does not affect other variables referncing the same object unless explicitly updated

In [ ]:
a=[1,2,3]
b=a
print("a:",a)
print("b:",b)
b=[4,5,6]
print("a:",a)
print("b:",b)

a: [1, 2, 3]
b: [1, 2, 3]
a: [1, 2, 3]
b: [4, 5, 6]

##bonus qn

In [ ]:
shield=["vibranium","round"]
copy_shield=shield
print("original shield is ",shield)
print("wolverine changes the shield materials ")
copy_shield[0]="adamantium"
print("new shield is",shield) # only editing ...so original variable changes too

original shield is  ['vibranium', 'round']
wolverine changes the shield materials
new shield is ['adamantium', 'round']

del deletes the variable

In [ ]:
a=10
del a
print(a)

NameError: name 'a' is not defined

take-aways
object ko refer karte hai...
assiging mai ek hi object ko 2 cheez point krte hain

python variables hold refernces to the actual object...not the actual object themselves

reassigning a variable does not affect other variables unless explicitly

#** CLASS 2 **

# **DATA TYPES**


1. **Numeric**


* int
* float
* complex (APPLICATION SEARCH !!!)


2. **Text**


*   string (str)

3. **Boolean**


*   Bool (used for classifying)


4. **Sequences**


*   List ---- [1,2,3](mutable-can be altered)
*   Tuple ----(1,2,3)(immutable)
*   Range


5. **Set**----just like a list but with hetero type


*  set
*  frozen set

6. **Binary**


*  bytes
*  bytearray
*  memoryview

7. **Mapping**

*  Dictionary

8. **None Type**

In [ ]:
x = 50
print(x)
x = 60.5
print(x)
x = "hello"
print(x) #string
x = ["Ms","P S ","Manaswini "]
print(x) #list
x =("Ms","P S ","Manaswini ")
print(x) #tuple

50
60.5
hello
['Ms', 'P S ', 'Manaswini ']
('Ms', 'P S ', 'Manaswini ')

2.5e3==2500

no limit for integers in python



---



1.   int - use for categorical encodings ( CATEGORIES KO NUMERISE KRTA HAI ) , class id , one-hot indexing , and token ids in NLP
2. float - represent real value data like features , prediction , gradients and weights
3. complex - used in signal processing in electronics , audio image analysis, spectral method

eg:: FFT in EEG

4. float32/ float64- standardin deeplearning like pyTorch, TensorFlow to balance precision and memory usage

 5. int32/int64 - useful for labels, indexing arrays/ tensors and specifying seq. length in NLP

powerlevels of avengers = [86,92.5,95,88.0,91]
validate ur input data

In [ ]:
powerlevels= [86,92.5,95,88.0,91]
if powerlevels :
  avg_pow=sum(powerlevels)/len(powerlevels)
else :
  avg_pow=0
for i in range(len(powerlevels)):
    print(str(powerlevels[i]).isdigit())
print(avg_pow)

True
False
True
False
True
90.5

In [ ]:
powerlevels= [86,92.5,"hi",88.0,91]
if powerlevels :
  avg_pow=round(sum(powerlevels)/len(powerlevels),2)
else :
  avg_pow=0

print(avg_pow)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

#INTERVIEW TIP::

ALWAYS VALIDATE YOUR INPUT DATA ⚠ BEFORE EXECUTION OF YOUR PROGRAM

***# IMPORTING A PACKAGE***

jaha pe mapping hoga, use a dictionary

dictionary mai O(1) mai searching hoga

In [ ]:
import statistics
power_level={
    "ironman" : 100,
    "hulk" : 200
}
statistics.mean(power_level.values())

## INTERVIEW TIP:
DICTIONARY VS LIST



* Dictionary is best when data can be mapped whereas list works best when order or sequence matters
*  Efficiency- be ready to compute averages in one pass using built in functions or libraries
* keep the time complexity in mind

# qn
write a python program to find the largest and smallest element in a list

In [ ]:
num=[10,2,8,4]
max=min=num[0]
for n in num :
  if max<n :
    max=n
  if min>n :
    min=n
print(max)
print(min)

10
2

# QN:
Rotate a list by k=2 positions

last item of a list index can be indexed as -1


last but one as -2 ... and so on so forth

In [ ]:
num=[10,2,8,4]
k=7
k = k % len(num)
# rotated = num[-k: ]+num[ : -k] ye bhi kar sakte hai
rotated = num[-k: ]+num[ : -k]
print(rotated)

[2, 8, 4, 10]

In [ ]:
num=[10, 2 , 8, 4]
k=7
k=k % len(num)
# rotated = num[n-k : ] + num[ : n-k] ye bhi kar sakte hai
n=len(num)
rotated = num[n-k : ] + num[ : -k]
print(rotated)

[2, 8, 4, 10]

# STRINGS
1. strings are the array of bytes representing unique codes no seperate character data type
2. the string can be created using single quote double or triple quote
3. access individual character via indexing , starting at zero.
4. strings are immutable
5. a string can be repeated by multiplying it by an integer
6. function that is used for string is str()

In [ ]:
s1="this is the example of a string"
print(s1)

s2= "this"+" "+"is"+" "+ "the"+" " + "example" +" "+ "of" +" "+ "a"+" " + "string"
print(s2)

s3="this is a \
..single line"
print(s3)

s4="hulk : smash #  .."
print(s4*3)

# #-ko " " ke andar comment consider nahi krtee


print("the length of a string is" , len(s4))

print("the first character is :", s4[0])

print("the last char is :",s4[-1])

print("in python 0 == -0 :", s4[-0])

print("the substring of s4 is:" , s4[:4])


# 4 is upper bound but not included [0,4)


print("the substring of s4 is:", s4[2:4]) # this is called slicing [2,4)


 # this concept is called slicing .
 #the application of slicing is dividing the data set into test and train subsets

# s2[0]=b
# print(s2) # immutable


name="ironman"
for xyz in name:
  print(xyz , end="*\n")

s7="loop"
for i in range(len(s7)):
  print(-i,s7[-i])

this is the example of a string
this is the example of a string
this is a ..single line
hulk : smash #  ..hulk : smash #  ..hulk : smash #  ..
the length of a string is 18
the first character is : h
the last char is : .
in python 0 == -0 : h
the substring of s4 is: hulk
the substring of s4 is: lk
i*
r*
o*
n*
m*
a*
n*
0 l
-1 p
-2 o
-3 o

In [ ]:
# reverse a string
s2="ironman"
for i in range(1,len(s2)+1):
  print(s2[len(s2)-i])

n
a
m
n
o
r
i

In [ ]:
print(s2[::-1])
print( s2[4:6:2]) #s2[start:stop:step]

namnori
m

# **ASCII CODE**
In early 1960 a standard was published called american standard code for information interchange .

it specifies a mapping of binary values to characters

it uses 7 bits to represent characters from 0 to 127

A- 65,Z-90  ;;; a-97,z-122

PROBLEM :

The ascii character set is limited and not designed to handle characters from other language


SOLUTION: unicode -
the unicode standard defines more than 1 lakh characters

Python 3 uses unicode by default (UTF-8)
UNICODE strings allow global language support Prefix: u

In [ ]:
s1="\u03C0"
print(s1)
s2="\u00B2"
print(s2)

π
µ

\0: NULL ,

ASCII VALUE=0
used during string termination

\a : Bel , ASCII Value:7 - alert generation

\b: Backspace , ASCII Value:8 ;

\t: horizontal tab ; value:9;

\n : newline ASCII value=10

\v : vertical tab Ascii value = 11;

\f : form feed(new page) ASCII Value=12;

\r: carriage return ASCII Value=13

ALL THE ABOVE CHARACTERS ARE SCAPE CHARACTERS

In [ ]:
print("ironman\ndoctor strange")
print("ironman\tdoctor_strange")
# \r : Carriage return
# C:\ Avenger \ Date
print("\\r : Carriage return\nC\\: Avenger\\Date")
print("hulk\a")# will trigger a beep sound on supported system
print("manu \v iiitr") # not supported here (vertical)

ironman
doctor strange
ironman	doctor_strange
\r : Carriage return
C\: Avenger\Date
hulk
manu \v iiitr

# **METHODS OF STRINGS**

In [ ]:
s="THIS movie is AMAZING"
print(s.lower())
print(s.upper())

this movie is amazing
THIS MOVIE IS AMAZING

Using lower or upper during training

In NLP training



---

**STRIP METHOD**

In [ ]:
tweet='@ai@rocks@'
print(tweet.strip("@")) #any special characters or whitespaces before(trailing) or after(leading) a string are removed ,
#not the middle special chars or whitespaces
print(tweet.replace("@",""))
print(tweet)

ai@rocks
airocks
@ai@rocks@

**REPLACE METHOD**

2 parameters are passed
all the chars willbe replaced by what u want ... even if they are in middle

**SPLIT METHOD**

**JOIN METHOD**
ULTA OF SPLIT

In [ ]:
t="this movie is amazing"
token= t.split()
print(token)

print(" ".join(token))

['this', 'movie', 'is', 'amazing']
this movie is amazing

**FIND METHOD**

In [ ]:
s="this is a python class"
print(s.find("python"))
print(s.find("p",8,10))
print(s.find("q"))
print(s.index("q"))#error

10
-1
-1

ValueError: substring not found

**COUNT FUNCTION**

In [ ]:
s="this is a python class"
print(s.count("is"))
print(s.count("is",7,9))

2
0

In [ ]:
word=["how","are" ,"you"]
for _ in word:
  print(_)
print(word.strip)
 #list iterates...so no function works like this directly

how
are
you

AttributeError: 'list' object has no attribute 'strip'

# startsWith & endsWith

In [ ]:
txt="hello , my name is manu"
print(txt.startswith("hello", 0 , 10))
print(txt.endswith(("nu","manu")))

True
True

# in keyword

In [ ]:
avenger=" thor captain_america iron_man doctor_strange"
print("loki" in avenger)
print("thor" in avenger)
print("thor" not in avenger)
print("loki" not in avenger)
if "loki" not in avenger:
  print("yesss")
if "thor" in avenger:
  print("yesss!!")

False
True
False
True
yesss
yesss!!

**given a sentence "loki tried to kill avengers", check if loki is there if yes say enemy detected else say all clear**

In [ ]:
sen="loki tried to kill avengers"
if "loki" in sen:
  print("enemy detected")
if "loki" not in sen:
  print("all clear")

enemy detected

**we define the usage of capitals in a word to be right when one of the following cases holds**

**1.ALL LETTERS ARE CAPITALS(like USA)**


**2.ALL LETTERS ARE NOT CAPITAL(leetcode)**


**3.ONLY FIRST LETTER IS CAPITAL**


**Return true if usage of capitals is correct**

In [ ]:
strii="Manaswini"
if strii.upper() or strii.lower() or strii.capitalize() is True :
  print("true")

true

In [ ]:
word=["how", "are","you"]
for i in word:
  print(i.strip(""))

how
are
you

# **BOOLEAN**

True / False

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
a,b=10,20
print(a and b)
print(10>7 and 7>9)
print(10>7 or 7>9)
print(not 5>3)

20
False
True
False

In [ ]:
print(bool([]))
print(bool(""))
print(bool(" "))
print(bool(2^2))
print(bool(10^20))
print((2^2)) #bitwise
print((10^20)) #xor- used in passcode system
print(10 and 20)
print(20 or 10)
print(10 or 20)

False
False
True
False
True
0
30
20
20
10

**swap using xor**

In [ ]:
a,b=10,20
c=a^b
a=c-a
b=c-b
print(a,b)

20 10

In [ ]:
a,b=10,20
a=a^b #a=30
b=a^b #b=10
a=a^b #a=20
print(a,b)

20 10

# **1. 5 applcns of xor**
# **2. is vs ==**



1.Bitwise Swapping (without a temporary variable):

XOR can swap two numbers without using extra space.




2.Finding the Odd Occurring Element in an Array:

If every element appears twice except one, XOR of all elements gives the unique one (because x ^ x = 0 and x ^ 0 = x).

3.Checksums / Error Detection:

Used in simple error detection (parity bits, LRC, CRC) because XOR highlights bit changes.

4.Encryption / Decryption:

XOR with a key is used in many stream ciphers and lightweight encryption (since cipher = data ^ key and data = cipher ^ key).

5.Detecting Bit Differences:



XOR shows which bits differ between two numbers (1 where bits differ, 0 where same). Useful in Hamming distance and image processing.


---
In Python,

==

Checks for equality of values.

It compares whether the contents of two objects are the same.

Example:

a = [1, 2, 3]
b = [1, 2, 3]

print(a == b)   # True (contents are equal)
---
is

Checks for identity (whether both variables point to the same object in memory).

It compares object references, not values.

Example:

a = [1, 2, 3]
b = [1, 2, 3]

print(a is b)   # False (different objects in memory)
print(a == b)   # True  (contents are equal)

c = a
print(a is c)   # True (both refer to the same object)



---

Use == → when you care about values.

Use is → when you care about object identity (whether they are the same object).

# **OPERATORS**

In [ ]:
a,b=10,9
print(a+b,a-b,a*b,a/b)
print(10//9) #floor value of divison
print(10**9) #power value is displayed
print(9**10) #power value is displayed
print(2**3**2) # right associative (seen in same level of op)
print(-10//3) #python floor divison differs from c++ in py we get -4 whreas in c++ we get -3
print(10%3)

19 1 90 1.1111111111111112
1
1000000000
3486784401
512
-4
1

**ASSIGNMENT OPERATOR**

In [ ]:
x=5
x*=2+3
print(x)
#precendence of *= is less than + operator
y=10
y//=3
z=10
z%=3
print(y)
print(z)
k=10
k**=3
print(k)
# use of assignment operator
# shorthand notation
# efficiency(in place updation) -- in python operatorslike += try to update objects in place
a=[1,2]
v=a
a=a+[3] # here a new list is being assigned as a so v!=a`
a+=[4] # output is 1,2 coz a new list was created(in place updation)
print(a)
print(v)

25
3
1
1000
[1, 2, 3, 4]
[1, 2]

In [ ]:
a=[1,2]
v=a
a+=[3] # output is 1,2 coz a new list was created
print(a)
print(v)
# in place updation

[1, 2, 3]
[1, 2, 3]

In [ ]:
x=9
x&=3
print(x)
y=9
y|=3
print(y)
# >> right shift == div by 2
k=5
k>>=1
print(k)
# <<left shift == mul by 2
l=10
l<<=1
print(l)
# xor
s=20
s^=6 # s=s^6
print(s)

1
11
2
20
18

**COMPARISION OPERATORS**

In [ ]:
x=10
y=10
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x<=y)
print(x>=y)
print(10==10.0)
print(10=="10")
print(True==1)
print(bool(10>9>11))
print(True+True) # jab operator lagta hai tab number ho jayega

True
False
False
False
True
True
True
False
True
False
2

**LOGICAL OPERATORS**

In [ ]:
print(0 and 5)
print(0 or 5)
print(not 5)
print([] or "hi")
print([] and "hi")
# short circuiting - a&b does not evaluate b if a is false

0
5
False
hi
[]

**IDENTITY OPERATOR**

In [ ]:
a=[1,2,3]
print(3 in a)
print("a" in "banana")
print("nana" in "banana")
#sequence mai ya substring maifind karne ke liye use karte hai

True
True
True

**BITWISE OPERATOR**

In [ ]:
print(5&3,5|3, 5^3)
print(~5) # 2s complement

1 7 6
-6

1. print -10//4/3
2. print 'APPLE' <"apple"
3.

In [ ]:
print (True==2-3)

False

# **LIST**

Append,remove , mutable, ordered - list properties

In [ ]:
l=[1,2,3,4]
l=l+[5]
print(l)#appending

print(l[1:4])
print(l[::-1])

[1, 2, 3, 4, 5]
[2, 3, 4]
[5, 4, 3, 2, 1]

In [ ]:
from __future__ import print_function
#INFINITY STONES
infinity_stones=["Space","Mind","Reality","Power","Time","Soul"]
#membership operator(in)
if "Soul" in infinity_stones:
  print("yes")
else:
  print("no")
infinity_stones[1]="soul_inf"
print(infinity_stones)
infinity_stones[1:3]=["dr.strange","ironman"]
print(infinity_stones)
#appending at a particular index, the appended element's index is given here
infinity_stones.insert(4,"loki")
print(infinity_stones)
#append - inserts at last
infinity_stones.append("thor")
print(infinity_stones)
#appending 2 lists, extend function
heros=["hulk","black_panther","scarlet_witch"]
infinity_stones.extend(heros)
print(infinity_stones)
# in extend function tuple can also be added , whole of it gets converted to tuple
guardians=("doctor_strange",)
infinity_stones.extend(guardians)
print(infinity_stones)
# list can be extended with a tuple but tuple cant be extended with a list
#---------------------------------------------------------------------------------------------------------------------------------
#remove function
infinity_stones.remove("Space")
print(infinity_stones)
#pop
infinity_stones.pop(1)
print(infinity_stones)
infinity_stones.pop()
print(infinity_stones)
#del and clear
del infinity_stones[1:3]
print(infinity_stones)
#reuse - use clear
# no reusing use del
infinity_stones.clear()
print(infinity_stones)

yes
['Space', 'soul_inf', 'Reality', 'Power', 'Time', 'Soul']
['Space', 'dr.strange', 'ironman', 'Power', 'Time', 'Soul']
['Space', 'dr.strange', 'ironman', 'Power', 'loki', 'Time', 'Soul']
['Space', 'dr.strange', 'ironman', 'Power', 'loki', 'Time', 'Soul', 'thor']
['Space', 'dr.strange', 'ironman', 'Power', 'loki', 'Time', 'Soul', 'thor', 'hulk', 'black_panther', 'scarlet_witch']
['Space', 'dr.strange', 'ironman', 'Power', 'loki', 'Time', 'Soul', 'thor', 'hulk', 'black_panther', 'scarlet_witch', 'doctor_strange']
['dr.strange', 'ironman', 'Power', 'loki', 'Time', 'Soul', 'thor', 'hulk', 'black_panther', 'scarlet_witch', 'doctor_strange']
['dr.strange', 'Power', 'loki', 'Time', 'Soul', 'thor', 'hulk', 'black_panther', 'scarlet_witch', 'doctor_strange']
['dr.strange', 'Power', 'loki', 'Time', 'Soul', 'thor', 'hulk', 'black_panther', 'scarlet_witch']

**list-for**

In [ ]:
names=["sri","Manu","Sivani","SWATHI","Srikar"]
neww=[x for x in names]  #store in a new variable
#list comprehension(only for for keyword)
#[exp for item in list if condition is true] //(SYNTAX)
print(neww)
square=[]
[square.append(i*i) for i in range(1,11)]
print(square)

['sri', 'Manu', 'Sivani', 'SWATHI', 'Srikar']
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

1.copy

2.basic methods of list

# **SORTING**

For efficient searching , and as we know traversing is the converse operation of searching

linear sort = n^2

index based is the fastest

bubble sort- halke wale aage...baaki peeche = [O(n^2)]

selection sort- select an index and compare then go on = [O(n^2)] //better than bubble


insertion sort - chota range ka data - go for insertion

--> divide and conquer

1.merge sort - divide , sort , merge - drawback - extra space leta haii...so use quick sort

2.quick sort - ek pivot element hoga uske aage peeche hi sorting hoti hai- strictly increasing ya non increasing pai ye use krna bekar hai ... n^2 ho jayega complexity

# MULTI DIMENSIONAL LIST

In [ ]:
no=[[1,2,3],[4,5,6]] # stored in memory tape #row major hai ye
print(no[0][1])
# no=[[1,2,3],
 # [4,5,6]]
 # constructor= list(1,2,3)

2

# **INPUT**

In [ ]:
# name=input()
# print(type(name))
# num=int(input('enter the no:'))
# print(type(num))
num=[]
n=int(input('size:'))
for i in range(n):
  arr=int(input())
  num.append(arr)
print(num)

size:8
1
2
3
4
5
6
7
8
[1, 2, 3, 4, 5, 6, 7, 8]

# LIST COMPREHENSION ARRAY INPUT

In [ ]:
num=[int(x) for x in input('enter a value: ').split()]
print(num)
n=int(input('size: '))
num=[int(x) for x in range(n) ]
print(num)

In [ ]:
n=int(input('size: '))
num=input("no: ").split() # split works only with string
for i in range(n):
  num[i]=int(num[i])
print(num)

**gauss summation: when right angle distribution use sum property**

# **DICTIONARY**
TIME COMPLEXITIES:

O(1)<....< O(loglogn) < O(logn) < O(n) < O(n^1.84) < O(n^2) < ... < O(2!)

advantage: searching made easy as O(1) searching

cache miss/hit**

In [ ]:
std={
    1:"Swati",
    2:"Ramesh",
    3:"Suresh",
    3:"mansi"
}
print(type(std)) # mutable, duplicates arent allowed
print(std)
# arrangement of mixed unique data stored in key value pairs
#duplicacy hai toh list mai store karte hai
# unique keys are required and values can be repeated
# is it allowed to duplicate?? yes...but original value bhool jayega
print(len(std))
# constructor
std_name=dict(s1="swati",s2="Ramesh")
print(std_name)

<class 'dict'>
{1: 'Swati', 2: 'Ramesh', 3: 'mansi'}
3
{'s1': 'swati', 's2': 'Ramesh'}

In [ ]:
#accessing data
car={
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
print(car["brand"])
print(car.get("bran","not_applicable")) # optional 2nd parameter
# 2nd parameter jab galat key likhte hai to wo display krega
print(car.get("bran")) # better as we can pass a second parameter when ur key is wrong
print(car.keys())
car["fuel"]="petrol"
print(car)
vals=car.values()
print(vals)
car["year"]=2022
car["color"]="red"
print(vals)
print(car.items())
for k,v in car.items():
  print(k,v)
for k,v in car.items():
  print(f"{k}:{v}")
# updation
car["model"]="q2025"
print(car)
car.update({"model":"mustang"})
car.update({"type":"5_seater"})
print(car)

ford
not_applicable
None
dict_keys(['brand', 'model', 'year'])
{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'fuel': 'petrol'}
dict_values(['ford', 'mustang', 1964, 'petrol'])
dict_values(['ford', 'mustang', 2022, 'petrol', 'red'])
dict_items([('brand', 'ford'), ('model', 'mustang'), ('year', 2022), ('fuel', 'petrol'), ('color', 'red')])
brand ford
model mustang
year 2022
fuel petrol
color red
brand:ford
model:mustang
year:2022
fuel:petrol
color:red
{'brand': 'ford', 'model': 'q2025', 'year': 2022, 'fuel': 'petrol', 'color': 'red'}
{'brand': 'ford', 'model': 'mustang', 'year': 2022, 'fuel': 'petrol', 'color': 'red', 'type': '5_seater'}

**QUESTION**

In [ ]:
stu=["b","g","b","b"]
count={}
for i in stu:
  count[i]=count.get(i,0)+1
print(count)
print(count.keys())
print(count.values())

{'b': 3, 'g': 1}
dict_keys(['b', 'g'])
dict_values([3, 1])

# Nested Dictionary

In [ ]:
det={
    "s1":{
        "name":"swati",
        "age":20,
        "dept":"ece"
    },
    "s2":{
        "name":"mansi",
        "age":21,
        "dept":"ece"

    }
}
print(det["s1"]["dept"])
for k,v in det.items():
  print(f"{k}:{v}")
for k,v in det.items():
  for k,v in v.items():
   print(f"{k}:{v}")
  print("----------------")

ece
s1:{'name': 'swati', 'age': 20, 'dept': 'ece'}
s2:{'name': 'mansi', 'age': 21, 'dept': 'ece'}
name:swati
age:20
dept:ece
----------------
name:mansi
age:21
dept:ece
----------------

In [ ]:
avengers={
    'name':'ironman',
    'power':'suit',
    'age':55
}

#copy mai changes original mai nahi hote

avengers_copy=avengers.copy()
# avengers_copy.clear()
print("1.copy().clear()",avengers_copy)
print("2.original: ",avengers)
avg_keys=avengers.keys()
print("3.keys()",avg_keys)
avg_val=avengers.values()
print("4.values():",avg_val)
popped_item=avengers.pop('age')
print("5.pop(): ",popped_item) #value print hoga
print("6.remaining: ",avengers)
# unique keys mai same value
last_item=avengers.popitem()
print("7.popitem(): ",last_item) # pops power
print("7a.remaining: ",avengers)
keys=['thor','hulk']
new_team=dict.fromkeys(keys,'avengers')
print("8.fromkeys(): ",new_team) # creates a new dictionary with same values in both
itemss=avengers.items()
print("9.items(): ",itemss)
get_val=avengers.get('name')
print("10.get(): ",get_val)
#11?
update_val=avengers.update({'name':'thor'})
print("11.update(): ",update_val)
values=avengers.setdefault('age',45) # takes key only if single parameter given
print("12.setdefault(): ",values)
print("updated_dict: ",avengers)

1.copy().clear() {'name': 'ironman', 'power': 'suit', 'age': 55}
2.original:  {'name': 'ironman', 'power': 'suit', 'age': 55}
3.keys() dict_keys(['name', 'power', 'age'])
4.values(): dict_values(['ironman', 'suit', 55])
5.pop():  55
6.remaining:  {'name': 'ironman', 'power': 'suit'}
7.popitem():  ('power', 'suit')
7a.remaining:  {'name': 'ironman'}
8.fromkeys():  {'thor': 'avengers', 'hulk': 'avengers'}
9.items():  dict_items([('name', 'ironman')])
10.get():  ironman
11.update():  None
12.setdefault():  45
updated_dict:  {'name': 'thor', 'age': 45}

list of fruits with the price of each fruit

In [ ]:
cost={
    "apple":200,
    "avocado":700,
    "banana":100,
    "strawberry":900
}
# budget = 900 find 2 fruits st total cost =900
# budget = 900
# found_pairs = []
# for fruit1, price1 in cost.items():
#   for fruit2, price2 in cost.items():
#     # Avoid pairing a fruit with itself and avoid duplicate pairs
#     if fruit1 != fruit2 and price1 + price2 == budget:
#       # Ensure the pair is added only once (e.g., "apple", "avocado" not "avocado", "apple")
#       if (fruit2, fruit1) not in found_pairs:
#         found_pairs.append((fruit1, fruit2))
# if found_pairs:
#   print(f"Pairs of fruits that cost exactly {budget}:")
#   for pair in found_pairs:
#     print(f"{pair[0]} and {pair[1]}")
# else:
#   print(f"No pairs of fruits found that cost exactly {budget}.")

# using a method with time complexity O(N)
for k,v in cost.items():
  exp=900-v
  if exp in cost.values():
    print(f"{k}")

apple
avocado

In [ ]:
cost={
    "apple":200,
    "avocado":700,
    "banana":100,
    "strawberry":900
}
budget = 900
seen={}
for k,v in cost.items():
  diff=budget-v
  if diff in seen:
    print(f" keys: {k} and {seen[diff]}")
    print(f" values: {v} and {cost[seen[diff]]}")
    break
  seen[v]=k

else:
      print("no match")
#

 keys: avocado and apple
 values: 700 and 200

**a telecom company provides a list of datapacks and a customer has fixed budget and the company's system needs to find whose combined cost exactly matches company's budget if such a pack exist,return keys and prices, if no such combinations exist then display no valid combo**

**u r managing a telecom business when a user enters, their username must be unique if the user enetered the same existing value , the system should return that the username is already taken else insert into dictionary**

use name as key

# LOOPHOLES IN DICTIONARY


1.   Updates the original value when same key is used
2.   Memory usage increased
3.   It is unordered
4.   Security??
5.   Mutable

# ***Functions***


1.   Block of code used in complex problem statements to divide into smaller chunks to increase readability

2.   "def" keyword is used to define a function

**scope-memory management**

**global- static variables**

**local-when used at one place**

In [ ]:
pi=3.14
def area_of_circle(r):# formal parameter(formally request)
  area=pi*r*r
  return area # tells that a function definition has ended , increases readability , error finding is easier
a=area_of_circle(8)# actual parameter(arguments)
print(a)

200.96

***pass keyword***

function ko name kardi par functionality nahi diya ..then to skip use pass

In [ ]:
def check_prime(k):
  if k<2:
    return "not prime"
  if k<=3:
    return "prime"
  if n%2==0:
    return "not prime"
  for i in range(2,k):
    if k%i==0:
      return "not prime"

  return "prime"
print(check_prime(2))
#import math
# for i in range(3,math.sqrt(n))

prime

In [ ]:
#CALCULATOR
def calculator(a,b,s):
  if s=="+":
    return a+b
  elif s=="-":
    return a-b
  elif s=="*":
    return a*b
  elif s=="/":
    return a/b
print(calculator(3,4,"*"))

12

Application of prime numbers

1. cryptography

1. WRITE A FUNCTION THAT TAKES A STRING AS AN INPUT AND RETURN UPPECASE TITLE CAPITALISE FIND LOWERCASE ETCCC
2. WRITE A FUNCTION NAMED EMAIL VALIDATOR @ , DOMAIN NAME
3. PASSWORD VALIDATOR
4. SIMPLE COMPOUND INTEREST CALCULATION

In [ ]:
def str_op(strs,op,s):
  if op=="upper":
    return strs.upper()
  elif op=="lower":
    return strs.lower()
  elif op=="title":
    return strs.title()
  elif op=="capitalize":
    return strs.capitalize()
  elif op=="find":
    return strs.find(s)
s=input("enter string: ")
op=input("enter operation:")
f_str=input("enter substring u want to search if u want to search in main string else press enter...")
print(str_op(s,"title",""))

enter string: hi i am manaswini
enter operation:upper
enter substring u want to search if u want to search in main string else press enter...
Hi I Am Manaswini

arbitrary args - (*args)

any no of arguments can be used

*args mai jo input jata hai wo tuple mai jata hai

In [ ]:
def my_fam(*args):
  print("youngest child is "+ args[1])
  print(type(args))
  print("first argument:"+ args[0])
my_fam("a","b","c")

youngest child is b
<class 'tuple'>
first argument:a

In [ ]:
def sec_d(greeting,*names):
  for name in names:
   print(greeting,name)
sec_d("hi","amit","swati","shiva")

hi amit
hi swati
hi shiva

In [ ]:
def total(*args):
  total=0
  for i in args:
    total=total+i
  return total
print(total(25,26,27,28,29))

135

In [ ]:
def max_val(*args):
  max=args[0]
  for i in args:
    if i>max:
      max=i
  return max
print(max_val(1,2,3,4,5,6))

6

****kwargs**
key word args

In [ ]:
def fam(**kwargs):
  print("type:",type(kwargs))
  print("name:", kwargs["name"])
  print("age:",kwargs["age"])
  print(kwargs)
fam(name="swati",age=20,dept="ece")
#

type: <class 'dict'>
name: swati
age: 20
{'name': 'swati', 'age': 20, 'dept': 'ece'}

In [ ]:
def my_fun(title,*args,**kwargs):
  print("title:",title)
  print("positional:",args)
  print("keywords:",kwargs)
my_fun("user info","nitika","swati","xyz",age="29",city="vskp")

title: user info
positional: ('nitika', 'swati', 'xyz')
keywords: {'age': '29', 'city': 'vskp'}

In [ ]:
def my_fun(a,b,c,d):
  return a+b+c+d
num=[1,2,3,4]
result = my_fun(*num)# unpacking the list only
print(result)

In [ ]:
#kwargs unpacks dictionary
def my_details(fname,lname):
  print("first name:",fname)
  print("last name:",lname)
person={"fname":"Manaswini","lname":"Pallinti"}
my_details(**person)

first name: Manaswini
last name: Pallinti